.container {
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.1);
}

.image {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 0.5rem;
  background-color: grey;
}

.headline {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.125rem;
}

.horizontal-rule {
  border-color: rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  table-layout: fixed;

  &__body {
    color: rgba(0, 0, 0, 0.6);
  }

  &__cell {
    &--right {
      text-align: right;
    }
  }
}